.Text_C
{
display: flex;
align-items: center;
justify-content: center;
padding: 5%;
}

.R_W_o
{
    padding-top: 10%;
    padding-bottom: 10%;
}
@media only screen and (max-width:767px)
{
    .Text_C
    {
        text-align:center;
    } 
}