/* @import "react-alice-carousel/lib/alice-carousel.css"; */
.Card_Color  ._2Nde-b7zBqxE2c-pX-RLQr ._3kLq2S7iaEfJAxyyJqts35 i
{
    border: solid red !important;
    border-width: 0 5px 5px 0 !important;
}
.Card_Color   .GasrFbdQYtD26JnmJzJpj
{
    border: solid red !important;
    border-width: 0 5px 5px 0 !important;
}
.Card_Color ._1JwaBMUCMsc8QmGrT7DX45
{
    display: none;
}
.Md_Parent
{
    padding-top: 6%;
    padding-bottom: 6%;
}
.H_Color
{
    color: gray;
}