.colum-section
{
    padding: 10%;
   
}
.m-r
{
background: linear-gradient(to right, #373b44, #4286f4);
color: white;
}
.opt-section
{
  width: 70%;
}
.d-img
{
    height: 586px;

}
.font-weight
{
    font-weight: bold;
    
}
.btn-suces
{
  margin-right: 10% ;
border-radius: 20px;
background-color: #3cde61d9;
padding-left: 17px;
padding-right: 17px;
  padding-top: 12px;
  font-size: 12px;
  padding-bottom:12px;
}
.btn-pry
{
  
border-radius: 20px;
padding-left: 17px;
padding-right: 17px;
  padding-top: 12px;
  font-size: 12px;
  padding-bottom:12px;
background-color: #ccd1ec;
 
  font-size: 12px;
 
     
}
@media only screen and (max-width:825px)
{
  .btn-suces
{
  margin-right: 2% ;
}
}
@media only screen and (max-width:500px)
{
  .colum-section
  {
      padding: 0;
     
  }
  .opt-section
  {
    width: 100%;
  }
  
}
@media only screen and (max-width:767px)
{
  .d-n
{
  display:none;
}
.b-t .btn-section .btn-toolbar
{
  margin: auto;
  align-items: center;
  justify-content: center;
}
.opt-section {
  width: 100%;
}
.colum-section
{
  text-align: center;
}
}
