.bg-clr-main
{
height:100vh;
display: flex;
justify-content: center;
align-items: center;

}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form_Edit:focus + .form-control-placeholder,
  .form_Edit:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: #005294;
  }

.B_L
{
    border-right: 1px solid black;
    
}


.form_Edit
{
    border-top:none;
    border-left:none;
    border-right: none;
    box-shadow: none;
    border-radius: 0 !important;
    border-color: black;
    

}
.form_Edit:focus
{
    box-shadow: none;
    border-top:none;
    border-left:none;
    border-right: none;
    border-color: black;

    border-radius: none;
}

.Context_text_Section
{
    display: flex;
justify-content: center;
align-items: center;

}
.Border_style 
{

}
.container_bg
{
   
    padding-top: 4%;
    padding-bottom: 4%;
}


@media only screen and (min-width:0px) and (max-width:767px)
{
    /* .bg-clr-main
    {  margin-top: 10%;
    } */
    .Context_text_Section
    {
  display: none;
    }    
    .B_L
{
    border-right: none;
}
}


