.B_W .btn-primary
{
    width: 100%;

    margin-top: 3%;
   
}
.W_H_F
{
    width: 100%;
  height: 81vh;
  display: table;
}
.B_W{
    display: table-cell;

    vertical-align: middle;
    padding: 14%;
}
.RW_BG
{
    background-color: #f8f7fc;
}


@media only screen and (min-width:0px) and (max-width:768px) {

    .B_W{
        display: table-cell;
    text-align: center;
        vertical-align: middle;
        padding: 0%;
    }
}